<div id="bottom"
     style=" height:60px; line-height:60px; overflow:hidden;; text-align:center;background:#666666; color:#0099cc"
     align="center">

    &nbsp; <a href="/index" class="style1" target="_blank">网站首页</a>&nbsp; |&nbsp; <a href="/question/latest"
                                                                                     class="style1"
                                                                                     target="_blank">最新问答</a>&nbsp;
    |&nbsp; <a href="/expert" class="style1" target="_blank">专家咨询</a>&nbsp; |&nbsp; <a href="/case"
                                                                                       class="style1"
                                                                                       target="_blank">案例分享</a>&nbsp;
    |&nbsp; <a href="/courses" class="style1" target="_blank">课程培训</a>&nbsp; |&nbsp; <a href="/aboutus"
                                                                                        class="style1"
                                                                                        target="_blank">关于我们</a>&nbsp;
</div>


<div id="beianxinxi">
    <table width="100%" border="0" cellspacing="1" cellpadding="1" style="font-size:10px; background: #EAEAEA">
        <tr>
            <td align="center">&copy;2016 chashuiboshi.com, all rights reserved 自由度（上海）管理咨询有限公司</td>
        </tr>
        <tr>
            <td align="center">沪ICP备16042771号</td>
        </tr>
    </table>


</div>