<div style="height:auto;width: 88%;margin-top: 0px;margin-right: 3%;margin-bottom: 0px;margin-left: 9%;padding-top: 50px;">
    <img src="/static/images/TREE3bigdata.gif" width="1024" height="723" usemap="#Map" border="0"/>
    <map name="Map" id="Map">
        <area shape="poly" style="outline:none;"
              coords="455,123,435,141,421,163,419,182,440,182,459,158,460,142,462,138" alt="回归分析" title="回归分析"
              href="/search/?keyword=回归分析"/>
        <area shape="poly" style="outline:none;"
              coords="376,177,395,179,417,194,427,216,414,223,400,218,385,206,376,193" title="统计学"
              href="/search/?keyword=统计学"/>
        <area shape="poly" style="outline:none;" coords="473,193,494,199,490,215,478,219,462,220,452,213,458,199"
              title="试验设计" href="/search/?keyword=试验设计"/>

        <area shape="poly" style="outline:none;" coords="474,177,464,160,470,139,487,132,495,147,487,162" title="非参数统计"
              href="/search/?keyword=非参数统计"/>
        <area shape="poly" style="outline:none;"
              coords="455,257,470,247,482,244,479,261,476,279,466,291,455,302,447,293,444,276" title="随机过程"
              href="/search/?keyword=随机过程"/>
        <area shape="poly" style="outline:none;"
              coords="459,323,468,305,480,292,500,282,511,283,494,315,480,328,467,332" title="多元统计分析"
              href="/search/?keyword=多元统计分析"/>
        <area shape="poly" style="outline:none;"
              coords="488,363,490,340,502,324,509,313,522,304,524,336,515,353,500,362" title="" href="#"/>
        <area shape="poly" style="outline:none;" coords="442,354" href="#"/>
        <area shape="poly" style="outline:none;" coords="449,350,418,356,402,348,381,337,400,326,414,323,436,336"
              title="抽样调查" href="/search/?keyword=抽样调查"/>
        <area shape="poly" style="outline:none;" coords="335,330,345,305,361,289,373,283,382,301,371,327,341,344"
              title="统计计算" href="/search/?keyword=统计计算"/>
        <area shape="poly" style="outline:none;" coords="348,258,321,254,311,241,304,227,320,228,335,228,357,254"
              title="贝叶斯统计" href="/search/?keyword=贝叶斯统计"/>
        <area shape="poly" style="outline:none;" coords="339,178,355,169,361,157,367,178,358,204,328,217"
              title="现代统计理论与方法" href="/search/?keyword=现代统计"/>
        <area shape="poly" style="outline:none;" coords="374,248,362,215,370,186,385,211,393,229,379,251" title="时间序列分析"
              href="/search/?keyword=时间序列"/>
        <area shape="poly" style="outline:none;" coords="240,211,262,203,267,224,245,246,227,247,233,230" title="SAS"
              href="/search/?keyword=SAS"/>
        <area shape="poly" style="outline:none;" coords="242,311,268,324,288,336,290,356,267,360,248,340,239,326"
              title="生存分析" href="/search/?keyword=生存分析"/>
        <area shape="poly" style="outline:none;" coords="294,380" title="" href="#"/>
        <area shape="poly" style="outline:none;" coords="261,411,266,390,291,373,315,370,319,375,310,396,285,412"
              title="生物统计" href="/search/?keyword=生物统计"/>
        <area shape="poly" style="outline:none;" coords="295,430,314,424,343,421,370,436,349,449,321,451,308,443"
              title="应用统计" href="/search/?keyword=应用统计"/>
        <area shape="poly" style="outline:none;" coords="384,540,412,542,398,566,377,574,350,576,357,553" title=""
              href="#"/>
        <area shape="poly" style="outline:none;" coords="265,488,240,497,212,480,211,466,235,464,249,477" title="可靠性统计"
              href="/search/?keyword=可靠性统计"/>
        <area shape="poly" style="outline:none;" coords="142,503,142,477,159,448,187,447,181,474,165,490" title=""
              href="#"/>
        <area shape="poly" style="outline:none;" coords="652,419,659,401,678,374,687,395,683,419,661,440" title="并行计算"
              href="/search/?keyword=并行计算"/>
        <area shape="poly" style="outline:none;" coords="677,566,686,533,708,527,706,557,687,584" title="多媒体计算"
              href="/search/?keyword=多媒体计算"/>
        <area shape="poly" style="outline:none;" coords="614,345,618,320,647,299,671,302,653,332,635,339" title="统计模型"
              href="/search/?keyword=统计模型"/>
        <area shape="poly" style="outline:none;" coords="578,291,610,296,620,303,608,315,585,319,556,306" title="统计预测"
              href="/search/?keyword=统计预测"/>
        <area shape="poly" style="outline:none;" coords="602,258,622,247,650,264,631,271,614,280,577,266" title="统计学习"
              href="/search/?keyword=统计学习"/>
        <area shape="poly" style="outline:none;" coords="703,245,677,229,678,208,690,191,703,210,702,229" title="机器学习"
              href="/search/?keyword=机器学习"/>
        <area shape="poly" style="outline:none;" coords="680,266,661,256,655,237,671,237,692,252,694,266" title=""
              href="#"/>
        <area shape="poly" style="outline:none;" coords="713,309,738,307,762,314,773,325,762,335,738,336,722,325"
              title="统计机器学习" href="/search/?keyword=统计机器学习"/>
        <area shape="poly" style="outline:none;" coords="774,400,778,375,814,346,819,362,812,383,797,397" title="人工智能"
              href="/search/?keyword=人工智能"/>
        <area shape="poly" style="outline:none;" coords="743,395,737,423,737,445,745,465,759,457,769,439,758,409"
              title="多媒体搜索" href="/search/?keyword=多媒体搜索"/>
        <area shape="poly" style="outline:none;" coords="723,421,704,434,690,452,693,468,717,465,728,449,730,433"
              title="云计算" href="/search/?keyword=云计算"/>
        <area shape="poly" style="outline:none;" coords="844,506,854,483,892,468,904,476,892,492,873,506,851,511"
              title="自然语言处理" href="/search/?keyword=自然语言"/>
        <area shape="poly" style="outline:none;" coords="841,165,865,175,872,196,877,205,856,208,840,194,838,179"
              title="Hadoop" href="/search/?keyword=Hadoop"/>
        <area shape="poly" style="outline:none;" coords="183,365,155,353,145,328,151,312,179,327,186,355" title="分类数据分析"
              href="/search/?keyword=分类数据"/>
        <area shape="poly" style="outline:none;" coords="116,313,106,336,111,355,136,363,137,348,136,331" title="缺失数据分析"
              href="/search/?keyword=缺失数据"/>
        <area shape="poly" style="outline:none;" coords="115,186,118,155,153,141,165,144,156,169,141,182" title="Python"
              href="/search/?keyword=Python"/>
        <area shape="poly" style="outline:none;" coords="535,170,530,150,545,128,560,148,564,161,563,184" title="金融统计"
              href="/search/?keyword=金融"/>
        <area shape="poly" style="outline:none;" coords="565,210,585,209,592,226,570,240,552,244,552,228" title="统计质量管理"
              href="/search/?keyword=统计质量管理"/>
        <area shape="poly" style="outline:none;" coords="634,207,625,185,627,171,642,161,657,187,652,210" title="风险管理"
              href="/search/?keyword=风险管理"/>
        <area shape="poly" style="outline:none;" coords="723,228,740,218,767,210,757,235,742,247,710,249" title="数据挖掘"
              href="/search/?keyword=数据挖掘"/>
        <area shape="poly" style="outline:none;" coords="779,257,809,272,826,287,807,292,789,293,773,289,762,278"
              title="大数据分析" href="/search/?keyword=大数据"/>
        <area shape="poly" style="outline:none;" coords="527,235,509,220,501,200,501,184,521,191,533,213,537,231"
              title="金融工程" href="/search/?keyword=金融工程"/>
        <area shape="poly" style="outline:none;" coords="592,219,593,192,617,175,623,194,615,215,600,229" title="保险精算"
              href="/search/?keyword=保险精算"/>
        <area shape="poly" style="outline:none;" coords="582,154,561,135,564,121,571,102,590,124,592,142" title="经济统计"
              href="/search/?keyword=经济"/>
        <area shape="poly" style="outline:none;" coords="388,161,366,147,364,123,377,123,394,136,400,159" title="数理统计"
              href="/search/?keyword=数理统计"/>
        <area shape="poly" style="outline:none;" coords="320,198,310,176,290,168,273,161,283,182,296,198" title="概率论"
              href="/search/?keyword=概率"/>
        <area shape="poly" style="outline:none;" coords="237,269,217,280,208,300,232,302,242,294,256,288" title="SPSS"
              href="/search/?keyword=SPSS"/>
        <area shape="poly" style="outline:none;" coords="230,263,195,254,190,227,202,230,224,245" title="MATLAB"
              href="/search/?keyword=MATLAB"/>
        <area shape="poly" style="outline:none;" coords="228,375,194,353,190,326,210,338,224,352" title="新药临床试验"
              href="/search/?keyword=临床试验"/>
        <area shape="poly" style="outline:none;" coords="211,417,206,402,182,387,163,389,167,400,175,412,197,421"
              title="农业统计" href="/search/?keyword=农业"/>
        <area shape="poly" style="outline:none;" coords="151,371,154,391,146,413,129,431,121,415,124,391,133,383"
              title="纵向数据分析" href="/search/?keyword=纵向数据"/>
        <area shape="poly" style="outline:none;" coords="745,361,749,349,777,323,779,349,775,366,755,376" title="商业智能化"
              href="/search/?keyword=商业智能"/>
        <area shape="poly" style="outline:none;" coords="192,435,192,469,201,458,217,450,229,434,230,422" title="遗传统计"
              href="/search/?keyword=遗传"/>
        <area shape="poly" style="outline:none;" coords="763,234,764,252,747,273,741,262,743,250" title="" href="#"/>
        <area shape="poly" style="outline:none;" coords="778,242,799,227,816,231,832,236,821,246,808,256,789,251"
              title="深度学习" href="/search/?keyword=深度学习"/>
        <area shape="poly" style="outline:none;" coords="797,220,790,201,796,187,807,202,799,210" title="数据仓库"
              href="/search/?keyword=数据仓库"/>
        <area shape="poly" style="outline:none;" coords="117,459,132,440,157,450,152,462,132,465" title="环境统计"
              href="/search/?keyword=环境"/>
        <area shape="poly" style="outline:none;" coords="290,269,263,263,256,253,252,242,268,234,288,246,293,259"
              title="R语言" href="/search/?keyword=R语言"/>
        <area shape="poly" style="outline:none;" coords="199,154,225,158,233,172,243,180,224,183,212,176,204,169"
              title="Java" href="/search/?keyword=Java"/>
        <area shape="poly" style="outline:none;" coords="179,186,178,197,181,210,198,221,200,207,192,195" title="C/C++"
              href="/search/?keyword=C/C++"/>
        <area shape="poly" style="outline:none;" coords="854,434,872,437,897,434,906,427,877,415,861,422" title="BI"
              href="/search/?keyword=BI"/>
        <area shape="poly" style="outline:none;" coords="831,335,845,332,862,339,873,348,858,358,844,358,830,348"
              title="计算机视觉" href="/search/?keyword=计算机视觉"/>
        <area shape="poly" style="outline:none;" coords="779,479,802,477,811,493,814,506,798,506,785,499,778,489"
              title="推荐系统" href="/search/?keyword=推荐系统"/>
        <area shape="poly" style="outline:none;" coords="722,512,735,506,743,504,757,496,733,491,721,503" title="城市计算"
              href="/search/?keyword=城市计算"/>
        <area shape="poly" style="outline:none;" coords="567,474,569,490,585,498,600,499,584,481" title="虚拟现实"
              href="/search/?keyword=虚拟现实"/>
        <area shape="poly" style="outline:none;" coords="580,454,604,459,613,477,634,498,619,501,590,488,580,469"
              title="网络图形" href="/search/?keyword=网络图形"/>
        <area shape="poly" style="outline:none;" coords="663,473,660,493,675,512,695,525,710,524,703,501,684,476"
              title="社会计算" href="/search/?keyword=社会计算"/>
        <area shape="poly" style="outline:none;" coords="643,287,658,289,666,296,649,297,638,301,632,299" title="统计决策"
              href="/search/?keyword=决策"/>
        <area shape="poly" style="outline:none;" coords="422,105,412,124,407,138,407,150,420,147,431,133,432,121"
              title="数学建模" href="/search/?keyword=数学建模"/>
        <area shape="poly" style="outline:none;" coords="502,237,511,231,513,246,504,256,491,266,493,253" title="统计推断"
              href="/search/?keyword=统计推断"/>
        <area shape="poly" style="outline:none;" coords="717,385,711,409,693,422,691,412,696,392" title="可视化分析"
              href="/search/?keyword=可视化"/>
        <area shape="poly" style="outline:none;" coords="811,410,810,391,787,405,796,414" title="机器人"
              href="/search/?keyword=机器人"/>
        <area shape="poly" style="outline:none;" coords="176,508,190,493,196,486,196,478,176,485,172,497" title="描述性统计"
              href="/search/?keyword=描述统计"/>
        <area shape="poly" style="outline:none;" coords="798,465,815,466,834,462,821,449,805,449,793,455" title="语音识别"
              href="/search/?keyword=语音识别"/>
        <area shape="poly" style="outline:none;" coords="132,295,110,295,107,286,121,284,129,286,141,293" title=""
              href="#"/>
        <area shape="poly" style="outline:none;" coords="607,352,584,360,587,352,596,347,607,344" title="统计诊断"
              href="/search/?keyword=统计诊断"/>
        <area shape="poly" style="outline:none;" coords="149,254,159,261,166,274,167,286,157,286,152,279,144,268"
              title="高维数据分析" href="高维数据"/>
        <area shape="poly" style="outline:none;" coords="873,414,851,402,845,388,843,376,861,380,871,394" title="机器感知"
              href="/search/?keyword=机器感知"/>
        <area shape="poly" style="outline:none;" coords="881,382,888,395,907,401,920,400,920,388,899,378" title="专家系统"
              href="/search/?keyword=专家系统"/>
        <area shape="poly" style="outline:none;" coords="851,288,867,281,886,281,902,290,883,300,858,301" title="用户分析"
              href="/search/?keyword=用户分析"/>
        <area shape="poly" style="outline:none;" coords="889,219,870,218,854,233,853,243,850,253,873,245,883,237"
              title="Spark" href="/search/?keyword=Spark"/>
        <area shape="poly" style="outline:none;" coords="880,253,887,249,906,263,907,272,889,271,884,263" title="Hive"
              href="/search/?keyword=Hive"/>
        <area shape="poly" style="outline:none;" coords="834,255,817,255,806,265,820,277,829,266" title="文本挖掘/分析"
              href="/search/?keyword=文本分析"/>
        <area shape="poly" style="outline:none;" coords="792,160,806,157,815,165,826,173,802,173" title="数据存储"
              href="/search/?keyword=数据存储"/>
        <area shape="poly" style="outline:none;" coords="791,144,769,146,753,160,750,175,772,168,783,159" title="数据清洗"
              href="/search/?keyword=数据清洗"/>
        <area shape="poly" style="outline:none;" coords="692,145,704,133,725,123,742,130,727,140,704,153" title="数据可视化"
              href="/search/?keyword=可视化"/>
        <area shape="poly" style="outline:none;" coords="733,156,715,166,711,185,727,172,737,162" title="数据获取"
              ref="/search/?keyword=数据获取"/>
        <area shape="poly" style="outline:none;" coords="867,469,866,456,886,436,883,459" title="分布式系统"
              href="/search/?keyword=分布式"/>
        <area shape="poly" style="outline:none;" coords="600,403,621,401,633,405,618,415" title="认知计算"
              href="/search/?keyword=认知计算"/>
        <area shape="poly" style="outline:none;" coords="789,314,803,305,816,310,827,317,817,323,802,321" title="精准营销"
              href="/search/?keyword=精准营销"/>
        <area shape="poly" style="outline:none;" coords="857,311,872,310,892,313,897,326,876,329,864,320" title="客户图像"
              href="/search/?keyword=客户图像"/>
        <area shape="poly" style="outline:none;" coords="385,281,399,289,405,301,396,307,387,296" title="统计推断"
              href="/search/?keyword=统计推断"/>
        <area shape="poly" style="outline:none;" coords="130,316,141,308,162,301,178,305,166,315,143,323" title="定性数据分析"
              href="/search/?keyword=定性数据"/>
    </map>
    <p>&nbsp;</p>
</div>